<configuration>
    <appender name="CONSOLE" class="net.kodiki.ColoredConsoleAppender">
        <enableColor>true</enableColor> <!-- Set to true to enable color -->
    </appender>
    <appender name="CONSOLE" class="net.kodiki.ColoredTypeConsoleAppender">
        <enableTypeColoring>true</enableTypeColoring>
        <mode>HIGHLIGHTED_TEXT</mode>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>